*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.section_form{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.form_container{
display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 200px 400px;
  grid-template-rows: 100px 100px 100px 130px;
  grid-template-areas:
    "name name"
    "number number"
    "expiration security"
    "confirm confirm";
  padding: 20px;
}
.form_container .block_1{
  grid-area: name;
}
.form_container .block_2 {
  grid-area: number;
}

.form_container .block_3 {
  grid-area: expiration;
}

.form_container .block_4 {
  grid-area: security;
}
.form_container .block_5 {
  grid-area: confirm;
}

.form_label {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.15rem;
}

.form_input {
  
  width: 400px;
  margin-top: 10px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #adb5bf;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  color: #adb5bf;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  outline: none; 
}

.expiration_date {
  float: left;
  width: 40%;
  margin-right: 5px;
}
.expiration_year {
  width: 40%;
}

.security_code {
  width: 190px;
}

.form_button {
  width: 400px;
  height: 60px;
  margin-top: 40px;
  background-color: #220930;
  border-radius: 10px;
  border-color: #220930;
  color: #d7c9de;
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.error_mounth{
  display: inline-block;
  margin-right: 55px;
}
.error_year{
  display: inline-block;
}

/* card style */
.card_front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  margin: -40px 0 50px 200px;
  width: 400px;
  height: 230px;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card_front_number {
  font-size: 24px;
  color: white;
  letter-spacing: 0.4rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.card_info {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.card_front_details_content {
  font-size: 20px;
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.card_back {
  margin-left: 300px;
  width: 400px;
  height: 230px;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: white;
}


.hidden{
  display: none;
}

.thank_you{
  margin-right: 200px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.complete_state_button{
  width: 300px;
  height: 60px;
  margin-top: 40px;
  background-color: #220930;
  border-radius: 10px;
  border-color: #220930;
  color: #d7c9de;
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
.complete_state_title{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

